<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oderman-menu</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <table border="1" width="50%" cellpadding="5">
        <tr>
            <th>Назва піци</th>
            <th>Інгрідіенти</th>
            <th>Ціна</th>
        </tr>
        <tr>
            <td>Маргарити</td>
            <td>Помідори, сир моцарелла, базилік, оливкова олія.</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Карбонара</td>
            <td>Балик, бекон, сир Моцарела, сир Пармезан, соус вершковий, яйце</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Чотири сири</td>
            <td>сир Моцарела, сир Пармезан, сир твердий, сир Фета, соус вершковий</td>
            <td>140</td>
        </tr>
        <tr>
            <td>Пепероні</td>
            <td>базилік, гриби печериці, ковбса Папероні, сир Моцарела, сир Пармезан, цибуля</td>
            <td>120</td>
        </tr>
    </table>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>